.Header {
    background-color: #e0cece;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: left;
    position: sticky;
    margin: 0px;
    padding: 0px;
    font-weight: 800;
    z-index: 1;
    -webkit-user-select: none;
}

.Linkwrap {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Linkwrap:hover {
    cursor: pointer;
}
.Linkwrap:hover .Link{
    color: #ffffff;
    text-decoration-color: rgba(255, 84, 167, 1);
}
.DropArrowImg{
    transition: opacity 300ms;
    z-index: 1;
}
.DropArrowHoverImg{
    z-index: 0;
}
.Linkwrap:hover .DropArrowImg{
    opacity: 0;
}

.Link, .LinkSignIn {
    text-shadow: 2px 2px 0px #cf5791;
    color: #e2e8f0;
    letter-spacing: 1px;
    margin: 10px;
    font-size: 28px;
    height: 100%;
    line-height: 90px;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 10px;
    transition: text-decoration-color 300ms, text-shadow 300ms;
}

.Blog {
    text-shadow: 2px 2px 0px #cf5791;
    line-height: 90px;
    color: rgba(225, 144, 163, 1);
    letter-spacing: 1px;
    margin: 15px;
    height: 100%;
    margin-left: 75px;
    font-size: 32px;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    text-underline-offset: 10px;
    transition: text-decoration 300ms, color 300ms, text-shadow 300ms;
}
.Blog:Hover{
    color: rgba(255, 84, 167, 1);
    text-decoration: underline 0.15em rgba(255, 84, 167, 1);
    text-shadow: 2px 2px 1px #cf5791;
}

.LinkSignIn {
    position: absolute;
    right: 50px;
}
.Link:hover, .LinkSignIn:Hover{
    color: #ffffff;
    text-decoration-color: rgba(255, 84, 167, 1);
    text-shadow: 2px 2px 2px rgb(255, 84, 167);
}


.DropWrap {
    width: 15px;
    height: 10px;
    margin-left: -4px;
    cursor: pointer; 
}

.Drop{ 
    width: 100%;
    height: 100%;
}

.Drop img{
    width: 15px;
    height: 10px;
    position: absolute;
}

.DropMenu {
    position: absolute;
    top: 60px;
    left: 580px;
    width: 250px;
    z-index: 0;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background: rgb(255,255,255);
    overflow: hidden;
}

.DropMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.AboutLink{
    text-decoration: none;
    padding-left: 0px;
    padding-right: 0px;
}

.AboutLink a{
    display: block;
    font-weight: 300;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 20px;
}

.BorderBar{
    border-bottom: 1px solid grey;
    margin-left: 20px;
    margin-right: 20px;
}

.AboutLink:last-child .BorderBar{
    border-bottom: unset;
}

.AboutLink:hover{
    background-color: rgba(0, 0, 0, 0.14);
    cursor:pointer;
}

.SearchMag, .SearchMagHover {
    position: absolute; 
    display: block;
    justify-content: center;
    align-content: center;
    right: 175px;
    top: 0px;
    height: 100%;
}

.SearchMagWrap .SearchMagHover {
    opacity: 0;
    transition: opacity 300ms;
}

.SearchMagHover:hover {
    opacity: 1;
}

.SearchBarWrap {
    position:absolute;
    box-shadow: 2px 2px 2px rgb(255, 84, 167);
    right: 220px;
    top: 28px;
    height: 40px;
    width:0px;
    overflow: hidden;
    transition: width 400ms ease-out;
}

.SearchBar {
    height: 100%;
    padding-left: 10px;
    border: 2px solid rgba(245, 84, 167, 0);
    width: 100%;
    transition: border 200ms;
}

.SearchBar:focus{
    border: 2px solid rgba(245, 84, 167, 1);
}

.SearchMag img, .SearchMagHover img {
    max-width: 35px;
    padding-top: 10px;
    height: 35px;
}
