.Blog .ArticlePreviewWrapper img{
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
    transition: box-shadow 200ms;
}

.BlogFull .ArticlePreviewWrapper img{
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
    transition: box-shadow 200ms;
}



.ArticlePreviewWrapper{
    color: rgb(71, 60, 68);
    text-decoration: none;
}

.ArticlePreviewWrapper h1 {
    text-decoration: underline 0.1em rgb(215, 124, 143);
    text-underline-offset: 8px;
    transition: text-decoration 200ms;
    font-size: 24px;
}


.ArticlePreviewWrapper:hover {
    color: rgb(46,35,43);
}

.ArticlePreviewWrapper:hover h1 {
    text-decoration: underline 0.15em rgb(220, 80, 163);
}
.ArticlePreviewWrapper:hover img{
    box-shadow: 4px 4px 6px grey;
}
.Blog, .BlogFull{
    height: 98%;
    width: 98%;
    padding: 0px;
    background-color: rgb(255, 240, 247);
    padding-top: 0px;
    margin: 1%;
    margin-bottom: 0%;
    font-size: 16px;
    display: grid;
    height: max-content;
    font-size: 15px;
}

.Blog {
    grid-template-columns: 1fr 3fr;
}

.BlogFull {
    grid-template-columns: 1fr;
}



/*
 * Add x on blog side, and then have the articles take up
 * the whole screen
 * Make blog word highlighted when on blog page
 * maybe make the word of the page your on pink, and the others white
*/

.BlogGrid {
    display: grid;
    margin: 80px;
    margin-top: 140px;
    grid-template-columns: 1fr 1fr; 
    gap: 50px;
}

.BlogFull .BlogGrid {
    margin: 140px;
    margin-top: 140px;
}

.BlogSide{
    color: rgb(61, 50, 58);
    width: 230px;
    height: 400px;
    position: sticky;
    align-self: flex-start;
    background-color: #ede1eb;
    top: 140px;
    margin-top: 160px;
    margin-left: 60px;
    border-radius: 10px; 
    text-align: center;
    box-shadow: 2px 2px 4px grey;
}

.BlogSideX, .BlogSideXHover{
   width: 30px;
   height: 30px;
   position: absolute;
   top: -11px;
   right: -11px;
}


.BlogSideX:hover{
    opacity: 0;
}


.BlogSideXHover{
    opacity: 0;
    transition: top 100ms, right 100ms, width 100ms, height 100ms, opacity 100ms;
}

.BlogSideXHover:hover{
    opacity: 1;
    width: 35px;
    height: 35px;
    top: -14px;
    right: -14px;
}

.BlogSideX img, .BlogSideXHover img{
    width: 100%;
    height: 100%;
}

.BlogSide h2{
   margin: 10px;
   margin-top: 20px;
}


