@font-face{
    font-family: 'BBC';
    src: url('./fonts/JSE_BBCMicro.ttf') format('truetype');
    font-weight: 100; 
    font-style: normal; 
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif, 'BBC';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
